@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Light.woff2") format("woff2"), url("../fonts/Gotham-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Medium.woff2") format("woff2"), url("Metropolis-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HomepageBaukasten Book";
  src: url("../fonts/HomepageBaukasten-Book.woff2") format("woff2"), url("HomepageBaukasten-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Metropolis", BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
}

a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.title {
  font-family: "Gotham", BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}
.title--heading {
  font-size: 3.8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.text-center {
  text-align: center;
}

.gutterX {
  padding-left: 2rem;
  padding-right: 2rem;
}

.gutterY {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.gutterY--no-bottom {
  padding-bottom: 0;
}

.fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
  display: none;
  opacity: 0;
  visibility: hidden;
}

#fp-nav {
  display: none;
  opacity: 0;
}

section.active .content-box {
  transform: translate(0, 0);
  opacity: 1;
  transition: 0.7s ease-in-out;
  transition-delay: 0.4s;
}
section .section-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
}
section .content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 12rem);
  padding: 1rem 2rem 3vh;
  transform: translate(0, 50px);
  opacity: 0;
  transition: 0.7s ease-in-out;
  transition-delay: 0.3s;
}
section .content-box--footer {
  width: 100%;
  transform: translate(0, 0);
  opacity: 1;
}
section .content-box .button {
  margin: 1rem;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 0;
}
.nav__logo {
  width: 140px;
}
.nav-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -7.6rem;
}
@media (max-width: 767px) {
  .nav-center {
    display: none;
  }
}
.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .nav-right {
    display: none;
  }
}
.nav__item {
  margin: 0 1rem;
}
.nav__link {
  padding: 0.8rem;
  font-size: 1.8rem;
  color: #000000;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-nav__links {
  margin: 0.6rem;
  padding: 0.3rem;
  font-size: 1.4rem;
  color: #000000;
}
.footer-nav__links:hover {
  text-decoration: underline;
}

.button {
  padding: 1.2rem 2rem;
  border-radius: 5rem;
  min-width: 24rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  display: inline-block;
  transition: all 0.3s;
}
.button--primary {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}
.button--secondary {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
}
.button:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.3s;
}

/*# sourceMappingURL=style.css.map */
