@mixin media($breaking-point) {	
    @media (max-width: $breaking-point) {
           @content;
    }
}

@mixin min-media($breaking-point) {	
    @media (min-width: $breaking-point) {
           @content;
    }
}

@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}
