$primary-color: #edb53c;
$color-dark: #000000;
$color-white: #ffffff;


$default-font: 'Metropolis',BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
$heading-font: 'Gotham', BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;