.footer-nav {
    
    @include flex-center();
    flex-wrap: wrap;
    &__links {
        margin: .6rem;
        padding: .3rem;
        font-size: 1.4rem;
        color: $color-dark;

        &:hover {
            text-decoration: underline;
        }
    }
}